<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>


<div class="container">
    <br>
    <div class="card">
        <div class="headerCateg card-header">
        <h2>Categorias</h2>
        <a href="/categories/news" class="btn btn-dark" >Nova Categoria</a>
        </div>
        <hr>
       <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categ.forEach(categ => { %>
                <tr>
                    <td><%= categ.id %></td>
                    <td><%= categ.title %></td>
                    <td><%= categ.slug %></td>
                    <td>
                        <a href="/categories/edit/<%=categ.id%>"
                             title="Editar"
                             class="btnsCateg">
                             <img src="/img/atualizar.png" alt="">
                        </a>

                        <form action="/categories/delete" method="post" onsubmit="deletarForm(event, this)">
                            <input type="hidden" name="id" value="<%=categ.id%>">
                            <button
                             title="Excluir"
                             class="btnsCateg">
                             <img src="/img/excluir.png"" alt="">
                            </button>
                        </form>
                      
                    </td>
                </tr>               
            <% }) %>
          
        </tbody>
       </table>
    </div>   
</div>

<%- include("../../partials/footer.ejs") %>
